*body {
    font-family-: arial;
    font-size: 16px;
}

h1, h2 {
    color: red;
}
p {
   color: black;
}
span { 
    color: cornflowerblue;
}

img {
    width: 300px;
    height: 200px;
}
.verde {
    color: darkgreen;
}

strong {
    color:black;
}
em  {
    color:cornflowerblue;
}
.rojo {
    color: red;
}
