h1, h2 {
    color: red;
    font-family: Garamond;
}
p {
    font-family: Garuda;
    font-size:16px;
    color: black;
}
span { 
    color: cornflowerblue;
}

img {
    width: 300px;
    height: 200px;
}
.verde {
    color: darkgreen;
    font-size: 18px;
}
a {
    color: -webkit-link;
    font-family: Garamond;
    font-size: 16px;
}
strong {
    color:black;
    font-family: Garuda;
}
